<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{user.Username}} - rimgo</title>

  {{> partials/head }}
</head>

<body class="font-sans text-lg bg-slate-800 text-white">
  {{> partials/nav }}

  <section class="my-4 w-full flex flex-col items-center">
    {{> partials/searchBar }}
  </section>
  
  <header class="p-4 rounded-xl text-white mb-4" style="background-image: url('{{user.Cover}}');">
    <div class="flex items-center gap-2">
      <img class="rounded-full" src="{{user.Avatar}}" width="72" height="72">
      <div>
        <h2 class="font-bold text-2xl">{{user.Username}}</h2>
        <p>{{user.Points}} pts · {{user.CreatedAt}}</p>
      </div>
    </div>
    <p class="mt-2">{{user.Bio}}</p>
  </header>

  <main>
    <div class="posts">
      {{#each submissions}}
      {{> partials/post }}
      {{/each}}
    </div>

    <div class="mt-4 font-bold">
      {{#equal page "0" }}
      {{else}}
      <a href="{{channel.RelUrl}}?page={{prevPage}}">Previous page</a>
      {{/equal}}
      <a href="{{channel.RelUrl}}?page={{nextPage}}">Next page</a>
    </div>
  </main>

  {{> partials/footer }}
</body>

</html>